h1 Create user

form(action="/users/create", method="POST")
    label Name
    //name hay Name deu la tham so chi value dien vao trong input. Trong ""la ten key
    input(name="name", type="text")


    button Create